<h1>Contacts Book</h1>
<p> <a href="<%=new_category_path%>">Add Category</a> </p>
<hr>

<h3>Categories</h3>

<ul>
    <a href="<%= categories_path %>"></a> 

  <% @categories.each do |category| %>
    <li>
      <%=link_to category.name, category_path(category)%> 
    </li>
  <% end %>
</ul>










 